@font-face {
    font-family: 'Montserrat Bold';
    src        : url('Montserrat-ExtraBold.eot');
    src        : url('Montserrat-ExtraBold.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-ExtraBold.woff') format('woff'),
    url('Montserrat-ExtraBold.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
    }
@font-face {
    font-family: 'Montserrat Regular';
    src        : url('Montserrat-Regular.eot');
    src        : url('Montserrat-Regular.eot?#iefix') format('embedded-opentype'),
    url('Montserrat-Regular.woff') format('woff'),
    url('Montserrat-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
    }
@font-face {
    font-family: 'Kaushan Script Regular';
    src        : url('KaushanScript-Regular.eot');
    src        : url('KaushanScript-Regular.eot?#iefix') format('embedded-opentype'),
    url('KaushanScript-Regular.woff') format('woff'),
    url('KaushanScript-Regular.otf') format('otf'),
    url('KaushanScript-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style : normal;
    }
*   {
    box-sizing: border-box;
    padding   : 0;
    margin    : 0;
    }
body {
    width : 1920px;
    height: 1665px;
    }
article {
    margin-left : 18.75%;
    margin-right: 18.75%;
    padding     : 0.5208%;
}
.masthead {
    max-width      : 1200px;
    margin         : auto;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 25px 0px 25px 0px;
    }
.brand {
    font-size  : 30px;
    font-family: 'Montserrat Bold';
    color      : #95e1d3;
    font-weight: 800;
    text-align : center;
    white-space: nowrap;
    height     : 1em;
    line-height: 1em;
    }
.site-navigation {
    display       : flex;
    font-family   : 'Montserrat Bold', sans-serif, Arial, Helvetica;
    font-size     : 14px;
    font-weight   : 300;
    text-transform: uppercase;
    vertical-align: middle;
    }
nav {
    height     : 1.8em;
    line-height: 1.8em;
    }
.site-navigation a {
    text-decoration: none;
    margin-left    : 55px;
    color          : #95e1d3;
    }
.site-navigation a:hover {
    color        : #f38181;
    border-bottom: 2px solid #f38181;
    }
.flex-container {
    display: flex;
    /*flex-direction : column;
    flex-wrap      : wrap;*/
    margin         : auto auto;
    justify-content: space-between;
    }
article>.flex-container {
    flex-wrap      : wrap;
    justify-content: center;
    margin         : auto auto;
    /*justify-content: space-between;*/
    }
.item  {
    margin  : 0.41665% 1.6665% 0.41665% 0;
    cursor  : pointer;
    position: relative;
    }
.flex-container > .item:nth-child(3n) {
    margin-right: 0;
    }
.headline {
    max-width      : 1200px;
    width          : 62.5%;
    margin         : auto;
    display        : flex;
    flex-direction : row;
    justify-content: space-between;
    padding        : 25px 0px 25px 0px;
    color          : #333333;
    position       : relative;
    }
.headline::after {
    content   : '';
    position  : absolute;
    top       : 95%;
    height    : 8px;
    background: #f38181;
    left      : 44.9%;
    right     : 44.9%;
    }
.row { 
    flex-direction: row;
    }
.column {
    flex-direction: column;
    }
.main_heading {
    margin-top    : 0px;
    padding       : 0px 0px;
    width         : 1200px;
    vertical-align: center;
    }
span[rel="big"]{
    letter-spacing: -1px;
    font-weight   : 700;
    font-family   : 'Montserrat Bold', sans-serif;
    font-size     : 60px;
    text-align    : center;
    }
span[rel="small"]{
    font-weight: 800;
    font-family: 'Kaushan Script Regular', sans-serif;
    font-size  : 23px;
    text-align : center;
    } 
span[rel="subtitle"]{
    display    : block;
    width      : 380px;
    font-weight: normal;
    font-family: 'Montserrat', sans-serif;
    font-size  : 14px;
    text-align : left;
    }
span[rel="description"]{
    display    : block;
    width      : 380px;
    font-weight: normal;
    font-family: 'Roboto', sans-serif;
    font-size  : 15px;
    text-align : left;
    }    
.main_heading > span {
    display   : block;
    width     : auto;
    height    : auto;
    text-align: center;
    margin    : 0 auto;
    padding   : 5px 5px 10px;
    }
.item img {
    height: 470px;
    width : 380px;
    /*position  : absolute;*/
    top : 0;
    left: 0;
   /* width  : 100%;
    height : 100%;*/
    z-index: 0;
    }
article.flex-container>.item > img {
    display   : block;
    float     : left;
    position  : absolute;
    object-fit: none;
    border    : 1px solid #ddd;
    padding   : 5px;
    width     : 80px;
    height    : 80px;
}
.clearfix::after {
    content: "";
    display: table;
    clear  : both;
    }
.bottom_container {
    display        : flex;
    justify-content: center;
    margin         : auto auto;
    left           : 15px;
    height         : auto;
    width          : 1200px;
    }
.item_container {
    display: flex;
    height : 564px;
    width  : 380px;
    margin : 0.41665% 2.49999% 0.41665% 0;
    }
.icons-wrapper {
    position: relative;
    display : flex;
   /* top            : 12px;
    left           : 12px;*/
    justify-content: center;
    align-items    : center;
    flex-direction : column;
    width          : 380px;
    height         : 470px;
    /*opacity        : 0;*/
    /*background: rgba(0,0,0,0.3);*/
    background-color: #95e1d3;
    transition      : opacity 0.2s ease-in;
    z-index         : 1;
    }
.icons-wrapper__row {
    position       : relative;
    display        : flex;
    justify-content: space-between;
    align-items    : center;
    /*width           : 75%;*/
    margin          : 10px 0;
    background-color: #fbe389;
    }
.icon {
    display    : flex;
    align-items: center;
    text-align : center;
    width      : 56px;
    height     : 56px;
    padding    : 10px;
    /*border          : 1px solid #fff;*/
    /*fill            : #fff;*/
    cursor          : pointer;
    background-color: transparent;
    transition      : background-color 0.2s ease-in;
    }
.icon svg {
    fill: #fff;
    }
.icon:hover {
    background-color: #95e1d3;
    border          : none;
    }
.icons-wrapper__row--wide {
    justify-content : flex-start;
    align-items     : center;
    border          : 1px solid #fff;
    background-color: #323232;
    transition      : background-color 0.3s ease-in;
    cursor          : pointer;
    }
.icons-wrapper__row--wide:hover {
    background-color: #33cc99;
    }
.icons-wrapper__row--wide .icon {
    border    : 0;
    background: none;
    transition: background-color 0.2s ease-in;
    }   
.icons-wrapper__row--wide .caption {
    text-transform: uppercase;
    margin-left   : 10px;
    color         : #fff;
    }
.bottom_container>.item>img {
    position: relative;
}
.icons-wrapper__row>.icon>img {
    margin: 0 auto;
}
footer {
    margin-top: 85px;
}
.footer_main {
    width     : 350px;
    height    : 90px;
    width     : 50%;
    margin    : 0 auto;
    text-align: center;
    }
.footer_main h6 {
    display       : inline-block;
    vertical-align: middle;
}
.footer_main::after {
    content       : "";
    display       : inline-block;
    min-height    : inherit;
    height        : 100%;
    vertical-align: middle;
    }
.colortext {
    color: #f38181;
}
a.button1 {
    margin-left    : auto;
    display        : inline-block;
    vertical-align : middle;
    width          : 160px;
    height         : 51px;
    font-size      : 16px;
    font-family    : 'Open Sans', sans-serif;
    color          : #fff;
    text-decoration: none;
    text-align     : center;
    border-radius  : 3px;
    background     : #4ec6ab;
    }

